openapi: 3.2.0
info:
  title: TIGERweb REST Services 2020 API
  description: 'ArcGIS REST endpoints that expose the canonical TIGER/Line geographic

    boundary layers — states, counties, census tracts, block groups, blocks,

    ZIP Code Tabulation Areas (ZCTAs), congressional districts, school

    districts, urban areas, and Public Use Microdata Areas — for current

    vintages and the 2010 and 2020 census decades.


    These are public ArcGIS Server endpoints; no API key is required. Spatial

    queries return GeoJSON, Esri JSON, KML, or PBF based on the `f` parameter.

    '
  version: '2026-05-25'
  contact:
    name: Census Bureau Geography Division
    url: https://www.census.gov/programs-surveys/geography.html
  license:
    name: Public Domain
    url: https://www.usa.gov/government-works
servers:
- url: https://tigerweb.geo.census.gov/arcgis/rest/services
  description: TIGERweb ArcGIS REST production
tags:
- name: '2020'
paths:
  /Census2020/State_County/MapServer/{layerId}/query:
    get:
      summary: Query 2020 Census State And County Features
      description: Query the 2020 census vintage State_County map service.
      operationId: query2020StateCounty
      tags:
      - '2020'
      parameters:
      - $ref: '#/components/parameters/LayerIdParam'
      - $ref: '#/components/parameters/WhereParam'
      - $ref: '#/components/parameters/FormatParam'
      responses:
        '200':
          description: Feature collection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FeatureCollection'
components:
  parameters:
    FormatParam:
      name: f
      in: query
      required: false
      description: Output format.
      schema:
        type: string
        enum:
        - json
        - geojson
        - pjson
        - kmz
        - pbf
        - html
        default: json
    WhereParam:
      name: where
      in: query
      required: false
      description: SQL-like WHERE clause filtering attributes.
      schema:
        type: string
    LayerIdParam:
      name: layerId
      in: path
      required: true
      description: Numeric ArcGIS layer ID within the parent map service.
      schema:
        type: integer
  schemas:
    FeatureCollection:
      type: object
      properties:
        type:
          type: string
          example: FeatureCollection
        features:
          type: array
          items:
            type: object
            properties:
              type:
                type: string
              geometry:
                type: object
              properties:
                type: object
