openapi: 3.2.0
info:
  title: Census Data Pulse API
  description: 'The Census Data API provides programmatic access to over 1,700 datasets

    published by the U.S. Census Bureau including the American Community Survey

    (ACS), Decennial Census, Economic Census, Population Estimates, County

    Business Patterns, Nonemployer Statistics, Annual Business Survey, and

    Household Pulse Survey.


    All endpoints follow the pattern `/data/{vintage}/{dataset-path}` and return

    a two-dimensional JSON array where the first row is the variable header and

    each subsequent row is a record. Every query requires a free `key` query

    parameter obtained from https://api.census.gov/data/key_signup.html.


    Responses are released into the public domain under Creative Commons Zero

    (CC0). Applications must display: "This product uses the Census Bureau Data

    API but is not endorsed or certified by the Census Bureau."

    '
  version: '2026-05-25'
  contact:
    name: Census Bureau Developer Support
    email: cnmp.developers.list@census.gov
    url: https://www.census.gov/data/developers/about.html
  license:
    name: Creative Commons Zero 1.0 (Public Domain)
    url: https://creativecommons.org/publicdomain/zero/1.0/
  termsOfService: https://www.census.gov/data/developers/about/terms-of-service.html
servers:
- url: https://api.census.gov/data
  description: Census Data API production base
security:
- ApiKeyQuery: []
tags:
- name: Pulse
  description: Household Pulse Survey near-real-time experimental data
paths:
  /{vintage}/pulse:
    get:
      summary: Get Household Pulse Survey
      description: Near-real-time experimental Household Pulse Survey results.
      operationId: getHouseholdPulse
      tags:
      - Pulse
      parameters:
      - $ref: '#/components/parameters/VintagePath'
      - $ref: '#/components/parameters/GetParam'
      - $ref: '#/components/parameters/ForParam'
      - $ref: '#/components/parameters/KeyParam'
      responses:
        '200':
          description: Household Pulse result set
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataMatrix'
components:
  parameters:
    VintagePath:
      name: vintage
      in: path
      required: true
      description: Year (or year+month combination) identifying the dataset vintage. Example values include `2024`, `2023`, `2020`.
      schema:
        type: string
        pattern: ^[0-9]{4}([0-9]{2})?$
        examples:
        - '2024'
    GetParam:
      name: get
      in: query
      required: true
      description: Comma-separated list of variables to retrieve. Use the group prefix `group(B19013)` to fetch every variable in a table.
      schema:
        type: string
        examples:
        - NAME,B01001_001E
    ForParam:
      name: for
      in: query
      required: false
      description: Geography clause indicating the geographic level being queried (for example `state:*` or `county:001`).
      schema:
        type: string
        examples:
        - state:*
    KeyParam:
      name: key
      in: query
      required: true
      description: Free API key obtained at https://api.census.gov/data/key_signup.html
      schema:
        type: string
  schemas:
    DataMatrix:
      type: array
      description: '2-D JSON array. The first inner array is the header row of variable

        names; each subsequent inner array is a record whose elements align

        positionally with the header.

        '
      items:
        type: array
        items:
          type: string
      example:
      - - NAME
        - B01001_001E
        - state
      - - California
        - '39538223'
        - '06'
      - - Texas
        - '29145505'
        - '48'
  securitySchemes:
    ApiKeyQuery:
      type: apiKey
      in: query
      name: key
      description: Free API key obtained at https://api.census.gov/data/key_signup.html
