openapi: 3.2.0
info:
  title: Census Data Discovery API
  description: 'The Census Data API provides programmatic access to over 1,700 datasets

    published by the U.S. Census Bureau including the American Community Survey

    (ACS), Decennial Census, Economic Census, Population Estimates, County

    Business Patterns, Nonemployer Statistics, Annual Business Survey, and

    Household Pulse Survey.


    All endpoints follow the pattern `/data/{vintage}/{dataset-path}` and return

    a two-dimensional JSON array where the first row is the variable header and

    each subsequent row is a record. Every query requires a free `key` query

    parameter obtained from https://api.census.gov/data/key_signup.html.


    Responses are released into the public domain under Creative Commons Zero

    (CC0). Applications must display: "This product uses the Census Bureau Data

    API but is not endorsed or certified by the Census Bureau."

    '
  version: '2026-05-25'
  contact:
    name: Census Bureau Developer Support
    email: cnmp.developers.list@census.gov
    url: https://www.census.gov/data/developers/about.html
  license:
    name: Creative Commons Zero 1.0 (Public Domain)
    url: https://creativecommons.org/publicdomain/zero/1.0/
  termsOfService: https://www.census.gov/data/developers/about/terms-of-service.html
servers:
- url: https://api.census.gov/data
  description: Census Data API production base
security:
- ApiKeyQuery: []
tags:
- name: Discovery
  description: Dataset discovery via the DCAT-compliant catalog
paths:
  /.json:
    get:
      summary: Get Census Data API Discovery Catalog
      description: 'Returns the DCAT-compliant Census Data API discovery catalog listing

        every available dataset. Each entry includes `c_vintage`, `c_dataset`,

        `c_geographyLink`, `c_variablesLink`, `c_groupsLink`, and a `distribution`

        accessURL pointing to the dataset endpoint.

        '
      operationId: getDiscoveryCatalog
      tags:
      - Discovery
      security: []
      responses:
        '200':
          description: DCAT catalog of all Census Data API datasets
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DiscoveryCatalog'
components:
  schemas:
    DiscoveryCatalog:
      type: object
      properties:
        '@context':
          type: string
        '@type':
          type: string
        conformsTo:
          type: string
        describedBy:
          type: string
        dataset:
          type: array
          items:
            $ref: '#/components/schemas/DiscoveryDataset'
    DiscoveryDataset:
      type: object
      properties:
        '@type':
          type: string
        title:
          type: string
        description:
          type: string
        identifier:
          type: string
        c_vintage:
          type: integer
        c_dataset:
          type: array
          items:
            type: string
        c_geographyLink:
          type: string
        c_variablesLink:
          type: string
        c_groupsLink:
          type: string
        c_examplesLink:
          type: string
        c_isAvailable:
          type: boolean
        distribution:
          type: array
          items:
            type: object
            properties:
              '@type':
                type: string
              accessURL:
                type: string
              format:
                type: string
              mediaType:
                type: string
        publisher:
          type: object
        contactPoint:
          type: object
        license:
          type: string
  securitySchemes:
    ApiKeyQuery:
      type: apiKey
      in: query
      name: key
      description: Free API key obtained at https://api.census.gov/data/key_signup.html
