openapi: 3.2.0
info:
  title: Census Data PEP API
  description: 'The Census Data API provides programmatic access to over 1,700 datasets

    published by the U.S.'
  version: '2026-05-25'
  contact:
    name: Census Bureau Developer Support
    email: cnmp.developers.list@census.gov
    url: https://www.census.gov/data/developers/about.html
  license:
    name: Creative Commons Zero 1.0 (Public Domain)
    url: https://creativecommons.org/publicdomain/zero/1.0/
  termsOfService: https://www.census.gov/data/developers/about/terms-of-service.html
servers:
- url: https://api.census.gov/data
  description: Census Data API production base
security:
- ApiKeyQuery: []
tags:
- name: PEP
  description: Population Estimates Program
paths:
  /{vintage}/pep/population:
    get:
      summary: Get Population Estimates
      description: Annual Population Estimates Program totals by geography.
      operationId: getPepPopulation
      tags:
      - PEP
      parameters:
      - $ref: '#/components/parameters/VintagePath'
      - $ref: '#/components/parameters/GetParam'
      - $ref: '#/components/parameters/ForParam'
      - $ref: '#/components/parameters/InParam'
      - $ref: '#/components/parameters/KeyParam'
      responses:
        '200':
          description: PEP population result set
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataMatrix'
  /{vintage}/pep/charagegroups:
    get:
      summary: Get Population Estimates By Age, Sex, Race, And Hispanic Origin
      description: PEP estimates by characteristic age groups, sex, race, and Hispanic origin.
      operationId: getPepCharacteristics
      tags:
      - PEP
      parameters:
      - $ref: '#/components/parameters/VintagePath'
      - $ref: '#/components/parameters/GetParam'
      - $ref: '#/components/parameters/ForParam'
      - $ref: '#/components/parameters/InParam'
      - $ref: '#/components/parameters/KeyParam'
      responses:
        '200':
          description: PEP characteristics result set
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataMatrix'
components:
  schemas:
    DataMatrix:
      type: array
      description: '2-D JSON array. The first inner array is the header row of variable

        names; each subsequent inner array is a record whose elements align

        positionally with the header.

        '
      items:
        type: array
        items:
          type: string
      example:
      - - NAME
        - B01001_001E
        - state
      - - California
        - '39538223'
        - '06'
      - - Texas
        - '29145505'
        - '48'
  parameters:
    GetParam:
      name: get
      in: query
      required: true
      description: Comma-separated list of variables to retrieve. Use the group prefix `group(B19013)` to fetch every variable in a table.
      schema:
        type: string
        examples:
        - NAME,B01001_001E
    InParam:
      name: in
      in: query
      required: false
      description: Hierarchical filter for nested geographies (for example `state:06`).
      schema:
        type: string
        examples:
        - state:06
    VintagePath:
      name: vintage
      in: path
      required: true
      description: Year (or year+month combination) identifying the dataset vintage. Example values include `2024`, `2023`, `2020`.
      schema:
        type: string
        pattern: ^[0-9]{4}([0-9]{2})?$
        examples:
        - '2024'
    KeyParam:
      name: key
      in: query
      required: true
      description: Free API key obtained at https://api.census.gov/data/key_signup.html
      schema:
        type: string
    ForParam:
      name: for
      in: query
      required: false
      description: Geography clause indicating the geographic level being queried (for example `state:*` or `county:001`).
      schema:
        type: string
        examples:
        - state:*
  securitySchemes:
    ApiKeyQuery:
      type: apiKey
      in: query
      name: key
      description: Free API key obtained at https://api.census.gov/data/key_signup.html
