openapi: 3.1.0
info:
  title: Business Dynamics Statistics 2010 Popclock API
  description: 'Time-series API providing annual measures of establishment and firm

    dynamics for the United States — births, deaths, expansions, contractions,

    job creation, and job destruction — from 1978 through the latest reference

    year. Supports breakdowns by firm age, firm size, sector, state, and metro

    area.


    Endpoint family: `/data/timeseries/bds`.

    '
  version: '2026-05-25'
  contact:
    name: Census Bureau Center for Economic Studies
    url: https://www.census.gov/programs-surveys/bds.html
  license:
    name: Creative Commons Zero 1.0 (Public Domain)
    url: https://creativecommons.org/publicdomain/zero/1.0/
  termsOfService: https://www.census.gov/data/developers/about/terms-of-service.html
servers:
- url: https://api.census.gov/data
  description: Census Data API production base
security:
- ApiKeyQuery: []
tags:
- name: Popclock
paths:
  /popclock/data/population/uspop.json:
    get:
      summary: Get U.S. Population Clock Snapshot
      description: Current U.S. resident population estimate and event intervals (birth, death, net migration).
      operationId: getUsPopClock
      responses:
        '200':
          description: U.S. population clock snapshot
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsPopClock'
      tags:
      - Popclock
  /popclock/data/population/world.json:
    get:
      summary: Get World Population Clock Snapshot
      description: Current world population estimate.
      operationId: getWorldPopClock
      responses:
        '200':
          description: World population snapshot
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorldPopClock'
      tags:
      - Popclock
components:
  schemas:
    UsPopClock:
      type: object
      properties:
        population:
          type: integer
          description: Current U.S. resident population estimate.
        births:
          type: number
          description: Seconds between births.
        deaths:
          type: number
          description: Seconds between deaths.
        netInternationalMigration:
          type: number
          description: Seconds between net international migration events.
        populationChange:
          type: number
          description: Seconds between net population changes.
        reference:
          type: string
          format: date-time
    WorldPopClock:
      type: object
      properties:
        population:
          type: integer
        reference:
          type: string
          format: date-time
  securitySchemes:
    ApiKeyQuery:
      type: apiKey
      in: query
      name: key
