openapi: 3.2.0
info:
  title: Census Geocoding Services Geographies API
  description: "Free Census Bureau geocoder that converts addresses to coordinates and\nCensus geographies. Five endpoint families exist:\n\n- `/locations/onelineaddress` — parse and geocode a single-line address\n- `/locations/address` — geocode a structured address (street/city/state/zip)\n- `/locations/coordinates` — reverse geocode coordinates to address\n- `/geographies/*` — same as locations but also return Census geographies\n  (state, county, tract, block, congressional district, school district)\n- `/locations/addressbatch` and `/geographies/addressbatch` — submit a CSV\n  of up to 10,000 addresses per request via multipart upload\n\nBenchmarks select the reference dataset vintage (Public_AR_Current,\nPublic_AR_Census2020, Public_AR_Census2010). Vintages select the\ngeographies vintage to attach when calling the `/geographies` endpoints.\n\nNo API key required.\n"
  version: '2026-05-25'
  contact:
    name: Census Bureau Geography Division
    url: https://geocoding.geo.census.gov/geocoder/
  license:
    name: Public Domain
    url: https://www.usa.gov/government-works
servers:
- url: https://geocoding.geo.census.gov/geocoder
  description: Census Geocoder production
tags:
- name: Geographies
  description: Address to coordinates plus Census geographies
paths:
  /geographies/onelineaddress:
    get:
      summary: Geocode A One-Line Address With Census Geographies
      description: Like `/locations/onelineaddress` but additionally attaches the matching state, county, tract, and block per the requested vintage.
      operationId: geographiesOnelineAddress
      tags:
      - Geographies
      parameters:
      - name: address
        in: query
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/BenchmarkParam'
      - $ref: '#/components/parameters/VintageParam'
      - $ref: '#/components/parameters/FormatParam'
      responses:
        '200':
          description: Geographies match envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeographiesResponse'
  /geographies/address:
    get:
      summary: Geocode A Structured Address With Census Geographies
      description: Structured-address variant of the geographies geocoder.
      operationId: geographiesAddress
      tags:
      - Geographies
      parameters:
      - name: street
        in: query
        required: true
        schema:
          type: string
      - name: city
        in: query
        required: false
        schema:
          type: string
      - name: state
        in: query
        required: false
        schema:
          type: string
      - name: zip
        in: query
        required: false
        schema:
          type: string
      - $ref: '#/components/parameters/BenchmarkParam'
      - $ref: '#/components/parameters/VintageParam'
      - $ref: '#/components/parameters/FormatParam'
      responses:
        '200':
          description: Geographies match envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeographiesResponse'
  /geographies/coordinates:
    get:
      summary: Reverse Geocode Coordinates With Census Geographies
      description: Reverse-geocoder variant that returns Census geographies for the coordinate.
      operationId: geographiesCoordinates
      tags:
      - Geographies
      parameters:
      - name: x
        in: query
        required: true
        schema:
          type: number
      - name: y
        in: query
        required: true
        schema:
          type: number
      - $ref: '#/components/parameters/BenchmarkParam'
      - $ref: '#/components/parameters/VintageParam'
      - $ref: '#/components/parameters/FormatParam'
      responses:
        '200':
          description: Geographies match envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeographiesResponse'
components:
  schemas:
    GeographiesResponse:
      type: object
      properties:
        result:
          type: object
          properties:
            input:
              type: object
            addressMatches:
              type: array
              items:
                allOf:
                - $ref: '#/components/schemas/AddressMatch'
                - type: object
                  properties:
                    geographies:
                      type: object
                      additionalProperties:
                        type: array
                        items:
                          type: object
    AddressMatch:
      type: object
      properties:
        matchedAddress:
          type: string
        coordinates:
          type: object
          properties:
            x:
              type: number
            y:
              type: number
        tigerLine:
          type: object
          properties:
            tigerLineId:
              type: string
            side:
              type: string
        addressComponents:
          type: object
          properties:
            fromAddress:
              type: string
            toAddress:
              type: string
            preQualifier:
              type: string
            preDirection:
              type: string
            preType:
              type: string
            streetName:
              type: string
            suffixType:
              type: string
            suffixDirection:
              type: string
            suffixQualifier:
              type: string
            city:
              type: string
            state:
              type: string
            zip:
              type: string
  parameters:
    VintageParam:
      name: vintage
      in: query
      required: true
      description: Geography vintage (`Current_Current`, `Census2020_Current`, `ACS2023_Current`, etc.).
      schema:
        type: string
    BenchmarkParam:
      name: benchmark
      in: query
      required: true
      description: Reference dataset benchmark (`Public_AR_Current`, `Public_AR_Census2020`, `Public_AR_Census2010`).
      schema:
        type: string
        examples:
        - Public_AR_Current
    FormatParam:
      name: format
      in: query
      required: false
      description: Response format.
      schema:
        type: string
        enum:
        - json
        - jsonp
        default: json
