openapi: 3.2.0
info:
  title: Us Census Bureau Timeseries API
  version: '2026-05-25'
  license:
    name: Creative Commons Zero 1.0 (Public Domain)
    url: https://creativecommons.org/publicdomain/zero/1.0/
  termsOfService: https://www.census.gov/data/developers/about/terms-of-service.html
  description: 'Operations tagged Timeseries across 2 of this provider''s published API definitions: census-bds-api-openapi.yml, census-international-trade-api-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.census.gov/data
  description: Census Data API production base
security:
- ApiKeyQuery: []
tags:
- name: Timeseries
paths:
  /timeseries/bds:
    get:
      summary: Query Business Dynamics Statistics Time Series
      description: 'Query the BDS time series. Use `YEAR` in the `get` clause and add it to

        the `for` clause or filter with `time`, `STATE`, `MSA`, `NAICS`, `SECTOR`,

        `EAGE`, `FAGE`, `EMPSZES`, `FSIZE`, and other dimension variables.

        '
      operationId: queryBdsTimeseries
      parameters:
      - name: get
        in: query
        required: true
        description: Variables to retrieve (for example `YEAR,FAGE,FIRMS,ESTABS,NET_JOB_CREATION`).
        schema:
          type: string
      - name: for
        in: query
        required: false
        description: Geography clause (for example `us:*` or `state:06`).
        schema:
          type: string
      - name: time
        in: query
        required: false
        description: Time filter (for example `2022`, `from 2018 to 2022`).
        schema:
          type: string
      - name: key
        in: query
        required: true
        schema:
          type: string
      responses:
        '200':
          description: BDS time-series result set
          content:
            application/json:
              schema:
                type: array
                items:
                  type: array
                  items:
                    type: string
      tags:
      - Timeseries
    servers:
    - url: https://api.census.gov/data
      description: Census Data API production base
  /timeseries/bds/variables.json:
    get:
      summary: Get BDS Variable Dictionary
      operationId: getBdsVariables
      security: []
      responses:
        '200':
          description: Variable dictionary
          content:
            application/json:
              schema:
                type: object
      tags:
      - Timeseries
    servers:
    - url: https://api.census.gov/data
      description: Census Data API production base
  /timeseries/intltrade/exports/hs:
    get:
      summary: Query Monthly Exports By HS Commodity Code
      description: U.S. monthly exports broken down by Harmonized System commodity codes.
      operationId: queryExportsHs
      parameters:
      - $ref: '#/components/parameters/GetParam'
      - $ref: '#/components/parameters/TimeParam'
      - name: I_COMMODITY
        in: query
        required: false
        description: HS commodity code filter.
        schema:
          type: string
      - $ref: '#/components/parameters/KeyParam'
      responses:
        '200':
          description: Export time-series result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataMatrix'
      tags:
      - Timeseries
    servers:
    - url: https://api.census.gov/data
      description: Census Data API production base
  /timeseries/intltrade/imports/hs:
    get:
      summary: Query Monthly Imports By HS Commodity Code
      description: U.S. monthly imports broken down by Harmonized System commodity codes.
      operationId: queryImportsHs
      parameters:
      - $ref: '#/components/parameters/GetParam'
      - $ref: '#/components/parameters/TimeParam'
      - name: I_COMMODITY
        in: query
        required: false
        schema:
          type: string
      - $ref: '#/components/parameters/KeyParam'
      responses:
        '200':
          description: Import time-series result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataMatrix'
      tags:
      - Timeseries
    servers:
    - url: https://api.census.gov/data
      description: Census Data API production base
  /timeseries/intltrade/exports/porths:
    get:
      summary: Query Monthly Exports By Port And HS
      description: Port-level monthly exports by HS commodity.
      operationId: queryExportsPortHs
      parameters:
      - $ref: '#/components/parameters/GetParam'
      - $ref: '#/components/parameters/TimeParam'
      - name: PORT
        in: query
        required: false
        schema:
          type: string
      - $ref: '#/components/parameters/KeyParam'
      responses:
        '200':
          description: Port-level export result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataMatrix'
      tags:
      - Timeseries
    servers:
    - url: https://api.census.gov/data
      description: Census Data API production base
  /timeseries/intltrade/imports/porths:
    get:
      summary: Query Monthly Imports By Port And HS
      description: Port-level monthly imports by HS commodity.
      operationId: queryImportsPortHs
      parameters:
      - $ref: '#/components/parameters/GetParam'
      - $ref: '#/components/parameters/TimeParam'
      - name: PORT
        in: query
        required: false
        schema:
          type: string
      - $ref: '#/components/parameters/KeyParam'
      responses:
        '200':
          description: Port-level import result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataMatrix'
      tags:
      - Timeseries
    servers:
    - url: https://api.census.gov/data
      description: Census Data API production base
  /timeseries/intltrade/exports/statehs:
    get:
      summary: Query State-Level Monthly Exports By HS
      description: Exports broken down by origin state and HS commodity.
      operationId: queryExportsStateHs
      parameters:
      - $ref: '#/components/parameters/GetParam'
      - $ref: '#/components/parameters/TimeParam'
      - name: STATE
        in: query
        required: false
        schema:
          type: string
      - $ref: '#/components/parameters/KeyParam'
      responses:
        '200':
          description: State-level export result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataMatrix'
      tags:
      - Timeseries
    servers:
    - url: https://api.census.gov/data
      description: Census Data API production base
components:
  schemas:
    DataMatrix:
      type: array
      items:
        type: array
        items:
          type: string
  parameters:
    KeyParam:
      name: key
      in: query
      required: true
      schema:
        type: string
    TimeParam:
      name: time
      in: query
      required: false
      description: Time filter (for example `2024-01`, `from 2024-01 to 2024-12`).
      schema:
        type: string
    GetParam:
      name: get
      in: query
      required: true
      schema:
        type: string
  securitySchemes:
    ApiKeyQuery:
      type: apiKey
      in: query
      name: key
x-refined-from:
- census-bds-api-openapi.yml
- census-international-trade-api-openapi.yml
