openapi: 3.1.0
info:
  title: Business Dynamics Statistics 2010 ACS PUMS API
  description: 'Time-series API providing annual measures of establishment and firm

    dynamics for the United States — births, deaths, expansions, contractions,

    job creation, and job destruction — from 1978 through the latest reference

    year. Supports breakdowns by firm age, firm size, sector, state, and metro

    area.


    Endpoint family: `/data/timeseries/bds`.

    '
  version: '2026-05-25'
  contact:
    name: Census Bureau Center for Economic Studies
    url: https://www.census.gov/programs-surveys/bds.html
  license:
    name: Creative Commons Zero 1.0 (Public Domain)
    url: https://creativecommons.org/publicdomain/zero/1.0/
  termsOfService: https://www.census.gov/data/developers/about/terms-of-service.html
servers:
- url: https://api.census.gov/data
  description: Census Data API production base
security:
- ApiKeyQuery: []
tags:
- name: ACS PUMS
  description: ACS Public Use Microdata Sample (person and household)
paths:
  /{vintage}/acs/acs1/pums:
    get:
      summary: Tabulate ACS 1-Year Person PUMS
      description: Custom person-level tabulation of the ACS 1-Year Public Use Microdata Sample.
      operationId: tabulateAcs1PumsPerson
      tags:
      - ACS PUMS
      parameters:
      - $ref: '#/components/parameters/VintagePath'
      - $ref: '#/components/parameters/GetParam'
      - $ref: '#/components/parameters/ForParam'
      - $ref: '#/components/parameters/UcgidParam'
      - name: tabulate
        in: query
        required: false
        description: Cross-tabulation specification (for example `weight(PWGTP)`).
        schema:
          type: string
      - name: recode
        in: query
        required: false
        description: PUMS variable recoding specification.
        schema:
          type: string
      - $ref: '#/components/parameters/KeyParam'
      responses:
        '200':
          description: PUMS tabulation result set
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataMatrix'
  /{vintage}/acs/acs1/pums/hus:
    get:
      summary: Tabulate ACS 1-Year Household PUMS
      description: Custom household-level tabulation of the ACS 1-Year PUMS file.
      operationId: tabulateAcs1PumsHousehold
      tags:
      - ACS PUMS
      parameters:
      - $ref: '#/components/parameters/VintagePath'
      - $ref: '#/components/parameters/GetParam'
      - $ref: '#/components/parameters/ForParam'
      - $ref: '#/components/parameters/KeyParam'
      responses:
        '200':
          description: Household PUMS tabulation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataMatrix'
  /{vintage}/acs/acs5/pums:
    get:
      summary: Tabulate ACS 5-Year Person PUMS
      description: ACS 5-Year PUMS person-level tabulation.
      operationId: tabulateAcs5PumsPerson
      tags:
      - ACS PUMS
      parameters:
      - $ref: '#/components/parameters/VintagePath'
      - $ref: '#/components/parameters/GetParam'
      - $ref: '#/components/parameters/ForParam'
      - $ref: '#/components/parameters/KeyParam'
      responses:
        '200':
          description: ACS 5-Year PUMS tabulation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataMatrix'
components:
  parameters:
    UcgidParam:
      name: ucgid
      in: query
      required: false
      schema:
        type: string
    ForParam:
      name: for
      in: query
      required: false
      schema:
        type: string
    VintagePath:
      name: vintage
      in: path
      required: true
      schema:
        type: string
    GetParam:
      name: get
      in: query
      required: true
      description: Comma-separated list of variables to retrieve.
      schema:
        type: string
    KeyParam:
      name: key
      in: query
      required: true
      schema:
        type: string
  schemas:
    DataMatrix:
      type: array
      items:
        type: array
        items:
          type: string
  securitySchemes:
    ApiKeyQuery:
      type: apiKey
      in: query
      name: key
