openapi: 3.2.0
info:
  title: Census Geocoding Services Batch API
  description: "Free Census Bureau geocoder that converts addresses to coordinates and\nCensus geographies. Five endpoint families exist:\n\n- `/locations/onelineaddress` — parse and geocode a single-line address\n- `/locations/address` — geocode a structured address (street/city/state/zip)\n- `/locations/coordinates` — reverse geocode coordinates to address\n- `/geographies/*` — same as locations but also return Census geographies\n  (state, county, tract, block, congressional district, school district)\n- `/locations/addressbatch` and `/geographies/addressbatch` — submit a CSV\n  of up to 10,000 addresses per request via multipart upload\n\nBenchmarks select the reference dataset vintage (Public_AR_Current,\nPublic_AR_Census2020, Public_AR_Census2010). Vintages select the\ngeographies vintage to attach when calling the `/geographies` endpoints.\n\nNo API key required.\n"
  version: '2026-05-25'
  contact:
    name: Census Bureau Geography Division
    url: https://geocoding.geo.census.gov/geocoder/
  license:
    name: Public Domain
    url: https://www.usa.gov/government-works
servers:
- url: https://geocoding.geo.census.gov/geocoder
  description: Census Geocoder production
tags:
- name: Batch
  description: Bulk geocoding (up to 10,000 records)
paths:
  /locations/addressbatch:
    post:
      summary: Batch Geocode Addresses
      description: 'Bulk geocode up to 10,000 addresses per request. Submit a CSV file with

        unique-id, street, city, state, ZIP columns. Returns a CSV response.

        '
      operationId: batchLocations
      tags:
      - Batch
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                addressFile:
                  type: string
                  format: binary
                  description: CSV file containing up to 10,000 addresses.
                benchmark:
                  type: string
                  description: Reference dataset benchmark.
      responses:
        '200':
          description: CSV response with matched records.
          content:
            text/csv:
              schema:
                type: string
  /geographies/addressbatch:
    post:
      summary: Batch Geocode Addresses With Geographies
      description: Bulk geographies variant — same as `/locations/addressbatch` but each match is annotated with Census geographies.
      operationId: batchGeographies
      tags:
      - Batch
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                addressFile:
                  type: string
                  format: binary
                benchmark:
                  type: string
                vintage:
                  type: string
      responses:
        '200':
          description: CSV response with matched records and geographies.
          content:
            text/csv:
              schema:
                type: string
