openapi: 3.2.0
info:
  title: Census Microdata CPS API
  description: 'The Census Microdata API tabulates and queries record-level Public Use

    Microdata Sample (PUMS) data from the American Community Survey, Current

    Population Survey, and Survey of Income and Program Participation.


    Microdata queries use the same `/data/{vintage}/{dataset}` URL family as

    the aggregate Census Data API but accept the `tabulate=`, `show=`,

    `recode=`, and `wt=` parameters to produce on-the-fly custom tabulations.

    '
  version: '2026-05-25'
  contact:
    name: Census Bureau Microdata Access
    url: https://www.census.gov/data/developers/guidance/microdata-api-user-guide.html
  license:
    name: Creative Commons Zero 1.0 (Public Domain)
    url: https://creativecommons.org/publicdomain/zero/1.0/
  termsOfService: https://www.census.gov/data/developers/about/terms-of-service.html
servers:
- url: https://api.census.gov/data
  description: Census Data API production base
security:
- ApiKeyQuery: []
tags:
- name: CPS
  description: Current Population Survey basic monthly and supplements
paths:
  /{vintage}/cps/basic/{month}:
    get:
      summary: Get CPS Basic Monthly Microdata
      description: Current Population Survey basic monthly microdata for the given vintage and month.
      operationId: getCpsBasic
      tags:
      - CPS
      parameters:
      - $ref: '#/components/parameters/VintagePath'
      - name: month
        in: path
        required: true
        description: Three-letter month code (`jan`, `feb`, etc.).
        schema:
          type: string
          enum:
          - jan
          - feb
          - mar
          - apr
          - may
          - jun
          - jul
          - aug
          - sep
          - oct
          - nov
          - dec
      - $ref: '#/components/parameters/GetParam'
      - $ref: '#/components/parameters/ForParam'
      - $ref: '#/components/parameters/KeyParam'
      responses:
        '200':
          description: CPS basic monthly result set
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataMatrix'
components:
  parameters:
    VintagePath:
      name: vintage
      in: path
      required: true
      schema:
        type: string
    GetParam:
      name: get
      in: query
      required: true
      description: Comma-separated list of variables to retrieve.
      schema:
        type: string
    ForParam:
      name: for
      in: query
      required: false
      schema:
        type: string
    KeyParam:
      name: key
      in: query
      required: true
      schema:
        type: string
  schemas:
    DataMatrix:
      type: array
      items:
        type: array
        items:
          type: string
  securitySchemes:
    ApiKeyQuery:
      type: apiKey
      in: query
      name: key
