openapi: 3.2.0
info:
  title: TIGERweb REST Services Catalog API
  description: 'ArcGIS REST endpoints that expose the canonical TIGER/Line geographic

    boundary layers — states, counties, census tracts, block groups, blocks,

    ZIP Code Tabulation Areas (ZCTAs), congressional districts, school

    districts, urban areas, and Public Use Microdata Areas — for current

    vintages and the 2010 and 2020 census decades.


    These are public ArcGIS Server endpoints; no API key is required. Spatial

    queries return GeoJSON, Esri JSON, KML, or PBF based on the `f` parameter.

    '
  version: '2026-05-25'
  contact:
    name: Census Bureau Geography Division
    url: https://www.census.gov/programs-surveys/geography.html
  license:
    name: Public Domain
    url: https://www.usa.gov/government-works
servers:
- url: https://tigerweb.geo.census.gov/arcgis/rest/services
  description: TIGERweb ArcGIS REST production
tags:
- name: Catalog
  description: Service directory
paths:
  /:
    get:
      summary: List TIGERweb Service Catalog
      description: Returns the directory of folders and services hosted by the TIGERweb ArcGIS instance.
      operationId: getServiceCatalog
      tags:
      - Catalog
      parameters:
      - $ref: '#/components/parameters/FormatParam'
      responses:
        '200':
          description: Service catalog
          content:
            application/json:
              schema:
                type: object
components:
  parameters:
    FormatParam:
      name: f
      in: query
      required: false
      description: Output format.
      schema:
        type: string
        enum:
        - json
        - geojson
        - pjson
        - kmz
        - pbf
        - html
        default: json
