openapi: 3.1.0
info:
  title: Business Dynamics Statistics 2010 Economic API
  description: 'Time-series API providing annual measures of establishment and firm

    dynamics for the United States — births, deaths, expansions, contractions,

    job creation, and job destruction — from 1978 through the latest reference

    year. Supports breakdowns by firm age, firm size, sector, state, and metro

    area.


    Endpoint family: `/data/timeseries/bds`.

    '
  version: '2026-05-25'
  contact:
    name: Census Bureau Center for Economic Studies
    url: https://www.census.gov/programs-surveys/bds.html
  license:
    name: Creative Commons Zero 1.0 (Public Domain)
    url: https://creativecommons.org/publicdomain/zero/1.0/
  termsOfService: https://www.census.gov/data/developers/about/terms-of-service.html
servers:
- url: https://api.census.gov/data
  description: Census Data API production base
security:
- ApiKeyQuery: []
tags:
- name: Economic
  description: Economic Census, ABS, CBP, NES
paths:
  /{vintage}/cbp:
    get:
      summary: Get County Business Patterns
      description: Query County Business Patterns (annual; 1986-present) — establishments, employment, payroll by NAICS and geography.
      operationId: getCbp
      tags:
      - Economic
      parameters:
      - $ref: '#/components/parameters/VintagePath'
      - $ref: '#/components/parameters/GetParam'
      - $ref: '#/components/parameters/ForParam'
      - $ref: '#/components/parameters/InParam'
      - $ref: '#/components/parameters/KeyParam'
      responses:
        '200':
          description: CBP result set
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataMatrix'
  /{vintage}/zbp:
    get:
      summary: Get ZIP Code Business Patterns
      description: Query ZIP Code Business Patterns (annual) — establishments, employment, payroll by ZIP and industry.
      operationId: getZbp
      tags:
      - Economic
      parameters:
      - $ref: '#/components/parameters/VintagePath'
      - $ref: '#/components/parameters/GetParam'
      - $ref: '#/components/parameters/ForParam'
      - $ref: '#/components/parameters/KeyParam'
      responses:
        '200':
          description: ZBP result set
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataMatrix'
  /{vintage}/abscs:
    get:
      summary: Get Annual Business Survey Company Summary
      description: Annual Business Survey — company-level statistics including women, minority, and veteran ownership.
      operationId: getAbsCompanySummary
      tags:
      - Economic
      parameters:
      - $ref: '#/components/parameters/VintagePath'
      - $ref: '#/components/parameters/GetParam'
      - $ref: '#/components/parameters/ForParam'
      - $ref: '#/components/parameters/KeyParam'
      responses:
        '200':
          description: ABS Company Summary result set
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataMatrix'
  /{vintage}/nonemp:
    get:
      summary: Get Nonemployer Statistics
      description: Nonemployer Statistics — annual data for U.S. businesses with no paid employees.
      operationId: getNonemployer
      tags:
      - Economic
      parameters:
      - $ref: '#/components/parameters/VintagePath'
      - $ref: '#/components/parameters/GetParam'
      - $ref: '#/components/parameters/ForParam'
      - $ref: '#/components/parameters/InParam'
      - $ref: '#/components/parameters/KeyParam'
      responses:
        '200':
          description: Nonemployer result set
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataMatrix'
components:
  parameters:
    ForParam:
      name: for
      in: query
      required: false
      description: Geography clause indicating the geographic level being queried (for example `state:*` or `county:001`).
      schema:
        type: string
        examples:
        - state:*
    InParam:
      name: in
      in: query
      required: false
      description: Hierarchical filter for nested geographies (for example `state:06`).
      schema:
        type: string
        examples:
        - state:06
    VintagePath:
      name: vintage
      in: path
      required: true
      description: Year (or year+month combination) identifying the dataset vintage. Example values include `2024`, `2023`, `2020`.
      schema:
        type: string
        pattern: ^[0-9]{4}([0-9]{2})?$
        examples:
        - '2024'
    GetParam:
      name: get
      in: query
      required: true
      description: Comma-separated list of variables to retrieve. Use the group prefix `group(B19013)` to fetch every variable in a table.
      schema:
        type: string
        examples:
        - NAME,B01001_001E
    KeyParam:
      name: key
      in: query
      required: true
      description: Free API key obtained at https://api.census.gov/data/key_signup.html
      schema:
        type: string
  schemas:
    DataMatrix:
      type: array
      description: '2-D JSON array. The first inner array is the header row of variable

        names; each subsequent inner array is a record whose elements align

        positionally with the header.

        '
      items:
        type: array
        items:
          type: string
      example:
      - - NAME
        - B01001_001E
        - state
      - - California
        - '39538223'
        - '06'
      - - Texas
        - '29145505'
        - '48'
  securitySchemes:
    ApiKeyQuery:
      type: apiKey
      in: query
      name: key
