openapi: 3.2.0
info:
  title: Census Data Metadata API
  description: 'The Census Data API provides programmatic access to over 1,700 datasets

    published by the U.S. Census Bureau including the American Community Survey

    (ACS), Decennial Census, Economic Census, Population Estimates, County

    Business Patterns, Nonemployer Statistics, Annual Business Survey, and

    Household Pulse Survey.


    All endpoints follow the pattern `/data/{vintage}/{dataset-path}` and return

    a two-dimensional JSON array where the first row is the variable header and

    each subsequent row is a record. Every query requires a free `key` query

    parameter obtained from https://api.census.gov/data/key_signup.html.


    Responses are released into the public domain under Creative Commons Zero

    (CC0). Applications must display: "This product uses the Census Bureau Data

    API but is not endorsed or certified by the Census Bureau."

    '
  version: '2026-05-25'
  contact:
    name: Census Bureau Developer Support
    email: cnmp.developers.list@census.gov
    url: https://www.census.gov/data/developers/about.html
  license:
    name: Creative Commons Zero 1.0 (Public Domain)
    url: https://creativecommons.org/publicdomain/zero/1.0/
  termsOfService: https://www.census.gov/data/developers/about/terms-of-service.html
servers:
- url: https://api.census.gov/data
  description: Census Data API production base
security:
- ApiKeyQuery: []
tags:
- name: Metadata
  description: Per-dataset variables, groups, geographies, and examples
paths:
  /{vintage}/acs/acs5/variables.json:
    get:
      summary: Get ACS 5-Year Variable Dictionary
      description: Per-vintage variable dictionary describing every available variable, its label, concept, and table.
      operationId: getAcs5Variables
      tags:
      - Metadata
      security: []
      parameters:
      - $ref: '#/components/parameters/VintagePath'
      responses:
        '200':
          description: Variable dictionary
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VariableDictionary'
  /{vintage}/acs/acs5/groups.json:
    get:
      summary: Get ACS 5-Year Group Dictionary
      description: Per-vintage table group dictionary listing every table identifier with concept and variables URL.
      operationId: getAcs5Groups
      tags:
      - Metadata
      security: []
      parameters:
      - $ref: '#/components/parameters/VintagePath'
      responses:
        '200':
          description: Group dictionary
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupDictionary'
  /{vintage}/acs/acs5/geography.json:
    get:
      summary: Get ACS 5-Year Geography Definitions
      description: Hierarchy of geographic levels and required wildcard support per dataset vintage.
      operationId: getAcs5Geography
      tags:
      - Metadata
      security: []
      parameters:
      - $ref: '#/components/parameters/VintagePath'
      responses:
        '200':
          description: Geography hierarchy
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeographyHierarchy'
components:
  schemas:
    GeographyHierarchy:
      type: object
      properties:
        fips:
          type: array
          items:
            type: object
            properties:
              name:
                type: string
              geoLevelDisplay:
                type: string
              referenceDate:
                type: string
              requires:
                type: array
                items:
                  type: string
              wildcard:
                type: array
                items:
                  type: string
              optionalWithWCFor:
                type: string
    GroupDictionary:
      type: object
      properties:
        groups:
          type: array
          items:
            type: object
            properties:
              name:
                type: string
              description:
                type: string
              variables:
                type: string
              universe:
                type: string
    VariableDictionary:
      type: object
      properties:
        variables:
          type: object
          additionalProperties:
            type: object
            properties:
              label:
                type: string
              concept:
                type: string
              predicateType:
                type: string
              group:
                type: string
              limit:
                type: integer
              attributes:
                type: string
  parameters:
    VintagePath:
      name: vintage
      in: path
      required: true
      description: Year (or year+month combination) identifying the dataset vintage. Example values include `2024`, `2023`, `2020`.
      schema:
        type: string
        pattern: ^[0-9]{4}([0-9]{2})?$
        examples:
        - '2024'
  securitySchemes:
    ApiKeyQuery:
      type: apiKey
      in: query
      name: key
      description: Free API key obtained at https://api.census.gov/data/key_signup.html
