openapi: 3.1.0
info:
  title: Business Dynamics Statistics 2010 Current API
  description: 'Time-series API providing annual measures of establishment and firm

    dynamics for the United States — births, deaths, expansions, contractions,

    job creation, and job destruction — from 1978 through the latest reference

    year. Supports breakdowns by firm age, firm size, sector, state, and metro

    area.


    Endpoint family: `/data/timeseries/bds`.

    '
  version: '2026-05-25'
  contact:
    name: Census Bureau Center for Economic Studies
    url: https://www.census.gov/programs-surveys/bds.html
  license:
    name: Creative Commons Zero 1.0 (Public Domain)
    url: https://creativecommons.org/publicdomain/zero/1.0/
  termsOfService: https://www.census.gov/data/developers/about/terms-of-service.html
servers:
- url: https://api.census.gov/data
  description: Census Data API production base
security:
- ApiKeyQuery: []
tags:
- name: Current
  description: Current vintage TIGERweb services
paths:
  /TIGERweb/State_County/MapServer:
    get:
      summary: Get States And Counties Map Service
      description: Returns metadata for the State_County map service including layer list and capabilities.
      operationId: getStateCountyService
      tags:
      - Current
      parameters:
      - $ref: '#/components/parameters/FormatParam'
      responses:
        '200':
          description: Map service metadata
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MapServiceInfo'
  /TIGERweb/State_County/MapServer/{layerId}/query:
    get:
      summary: Query States And Counties Features
      description: 'Spatial / attribute query against the State_County map service. Use

        layer 0 for states and layer 1 for counties.

        '
      operationId: queryStateCountyLayer
      tags:
      - Current
      parameters:
      - $ref: '#/components/parameters/LayerIdParam'
      - $ref: '#/components/parameters/WhereParam'
      - $ref: '#/components/parameters/OutFieldsParam'
      - $ref: '#/components/parameters/GeometryParam'
      - $ref: '#/components/parameters/GeometryTypeParam'
      - $ref: '#/components/parameters/SpatialRelParam'
      - $ref: '#/components/parameters/InSRParam'
      - $ref: '#/components/parameters/OutSRParam'
      - $ref: '#/components/parameters/ReturnGeometryParam'
      - $ref: '#/components/parameters/FormatParam'
      responses:
        '200':
          description: Feature collection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FeatureCollection'
  /TIGERweb/Tracts_Blocks/MapServer/{layerId}/query:
    get:
      summary: Query Census Tracts And Blocks Features
      description: Query census tract, block group, and block layers from the Tracts_Blocks service.
      operationId: queryTractsBlocksLayer
      tags:
      - Current
      parameters:
      - $ref: '#/components/parameters/LayerIdParam'
      - $ref: '#/components/parameters/WhereParam'
      - $ref: '#/components/parameters/GeometryParam'
      - $ref: '#/components/parameters/FormatParam'
      responses:
        '200':
          description: Feature collection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FeatureCollection'
  /TIGERweb/PUMA_TAD_TAZ_UGA_ZCTA/MapServer/{layerId}/query:
    get:
      summary: Query PUMAs And ZIP Code Tabulation Areas
      description: Query PUMA, traffic analysis district/zone, urban growth area, and ZCTA layers.
      operationId: queryPumaZctaLayer
      tags:
      - Current
      parameters:
      - $ref: '#/components/parameters/LayerIdParam'
      - $ref: '#/components/parameters/WhereParam'
      - $ref: '#/components/parameters/FormatParam'
      responses:
        '200':
          description: Feature collection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FeatureCollection'
components:
  parameters:
    LayerIdParam:
      name: layerId
      in: path
      required: true
      description: Numeric ArcGIS layer ID within the parent map service.
      schema:
        type: integer
    WhereParam:
      name: where
      in: query
      required: false
      description: SQL-like WHERE clause filtering attributes.
      schema:
        type: string
    FormatParam:
      name: f
      in: query
      required: false
      description: Output format.
      schema:
        type: string
        enum:
        - json
        - geojson
        - pjson
        - kmz
        - pbf
        - html
        default: json
    InSRParam:
      name: inSR
      in: query
      required: false
      description: Input spatial reference WKID.
      schema:
        type: integer
    SpatialRelParam:
      name: spatialRel
      in: query
      required: false
      schema:
        type: string
        enum:
        - esriSpatialRelIntersects
        - esriSpatialRelContains
        - esriSpatialRelCrosses
        - esriSpatialRelEnvelopeIntersects
        - esriSpatialRelIndexIntersects
        - esriSpatialRelOverlaps
        - esriSpatialRelTouches
        - esriSpatialRelWithin
        default: esriSpatialRelIntersects
    ReturnGeometryParam:
      name: returnGeometry
      in: query
      required: false
      schema:
        type: boolean
        default: true
    GeometryParam:
      name: geometry
      in: query
      required: false
      description: Geometry filter as JSON, envelope, point, polyline, or polygon.
      schema:
        type: string
    OutFieldsParam:
      name: outFields
      in: query
      required: false
      description: Comma-separated list of fields to return (use `*` for all).
      schema:
        type: string
        default: '*'
    OutSRParam:
      name: outSR
      in: query
      required: false
      description: Output spatial reference WKID.
      schema:
        type: integer
    GeometryTypeParam:
      name: geometryType
      in: query
      required: false
      schema:
        type: string
        enum:
        - esriGeometryPoint
        - esriGeometryMultipoint
        - esriGeometryPolyline
        - esriGeometryPolygon
        - esriGeometryEnvelope
  schemas:
    MapServiceInfo:
      type: object
      properties:
        currentVersion:
          type: number
        serviceDescription:
          type: string
        mapName:
          type: string
        description:
          type: string
        copyrightText:
          type: string
        layers:
          type: array
          items:
            type: object
            properties:
              id:
                type: integer
              name:
                type: string
              type:
                type: string
        spatialReference:
          type: object
          properties:
            wkid:
              type: integer
            latestWkid:
              type: integer
    FeatureCollection:
      type: object
      properties:
        type:
          type: string
          example: FeatureCollection
        features:
          type: array
          items:
            type: object
            properties:
              type:
                type: string
              geometry:
                type: object
              properties:
                type: object
  securitySchemes:
    ApiKeyQuery:
      type: apiKey
      in: query
      name: key
